<p style="color: green"><%= notice %></p>
<div class="container text-center mt-2">
  <h1>Articals</h1>
  <div class="container text-center g-2">
    <div class="row row-cols-auto g-2">
      <%= render partial: "artical" %>
    </div>
  </div>
</div>

