<div class="container text-center mt-2">
  <p style="color: green"><%= notice %></p>
  <h1>Articals</h1>
  <div class="container text-center g-2">
    <div class="row row-cols-auto g-2">
      <%= render partial: "artical", collection: @articals %>
    </div>
  </div>
</div>

